<!DOCTYPE html>
html(lang="en")
    head
        head
        style
            include style.css
            include mystyle.css
        title=shortname
        script(src='/scripts/controller.js')
    body
    center
        header
            h1.display-4=name
        div.container-fluid
            img(src=img1).img-thumbnail
        div.container-fluid
            .row
                .col-sm-6
                    img(src=img2).img-responsive.img-fluid
                .col-sm-6
                    img(src=img3).img-responsive.img-fluid
            .row.top
                .col-sm-4
                    .display-4 Group
                    span=group
                .col-sm-4
                    ul.list-group-flush.display-4 Delicacies
                    each food in delicacies
                        li.list-group-item=food
                .col-sm-4
                    .display-4 Population
                    span=population
                
            .row.top
                p=writeup

            .row.top
                .col-sm-6
                    button.btn-primary.one 1
                    button.btn-secondary.two 2
                    button.btn-success.three 3
                .col-sm-6
                    .display-4 Rating
                    .ratingval
    