<!DOCTYPE html>
html(lang="en")
    head
        head
        style
            include style.css
        title Philippines
    body
    center
        h1=name
        img(src=img1).img1
        br
        img(src=img2).img
        img(src=img3).img
        br
        label Group: 
        span=group
        br
        label Population: 
        span=population
        br
        label Delicacies
        ul
            each food in delicacies
                li=food
        p=writeup
    