<!DOCTYPE html>
html(lang="en")
    head
        head
        title Philippines
    body
    center
        h1=name
        img(src=img1, style='width:100%; height:auto')
        br
        img(src=img2, style='width:49%; height:500px')
        img(src=img3, style='width:49%; height:500px')
        br
        label Group: 
        span=group
        br
        label Population: 
        span=population
        br
        label Delicacies
        ul
            each food in delicacies
                li=food
        p=writeup
    